@using e_shastho.Models
@model List<CoronaWorldWideUpdateModel>

@{
    ViewData["Title"] = "করোনা আপডেট (আন্তর্জাতিক)";
}

<div class="text-center">
    <h1>করোনা আপডেট (আন্তর্জাতিক)</h1>

    <br />


    @if (!Model.Any())
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table table-hover">
            <thead>
                <tr>

                    <th>দেশ</th>
                    <th>নতুন সনাক্ত</th>
                    <th>নতুন মৃত্যু</th>
                    <th>সর্বমোট সনাক্ত</th>
                    <th>সর্বমোট মৃত্যু</th>
                    <th>সর্বমোট সুস্থ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CoronaWorldWideUpdateModel coronaUpdate in Model)
                {

                    <tr>
                        <td>@coronaUpdate.Country</td>
                        <td>@coronaUpdate.NewDailyCases</td>
                        <td>@coronaUpdate.NewDailyDeaths</td>
                        <td>@coronaUpdate.TotalCases</td>
                        <td>@coronaUpdate.TotalDeaths</td>
                        <td>@coronaUpdate.TotalRecoveries</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


@section Scripts{

    <script>
        $(document).ready(function () {
             $(".table").DataTable({
                responsive: true,
                columnDefs: [
                    { responsivePriority: 1, targets: 0 },
                    { responsivePriority: 2, targets: 1 },
                    { responsivePriority: 3, targets: 2 },
                    { responsivePriority: 4, targets: 3 },
                    { responsivePriority: 5, targets: 4 },
                    { responsivePriority: 6, targets: 5 }
                ]
            });
            $(".datepicker").datepicker({
                format: "mm/dd/yyyy",
                autoHide: true
            });

            $(".dataTables_filter input").attr("placeholder", "সার্চ করুন");
        });
    </script>
}